<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
      function Edit(id) {
          window.location.href = "/userEdit?id=" + id;
      }

      function Delete(id) {
          var rs = confirm('Confirm to delete?');
          if (rs) {
              window.location.href = "/userDelete?id=" + id;
          }
      }

      function Search() {

          var userid = document.getElementsByName('suserid')[0].value;
          window.location.href = "/?user=" + userid;;
      }
  </script>
</head>

<body>
<h1>Classes - List</h1>
<div class="search">
  <label>Instructor：</label>
  <input type="text" name="suserid" value="<%=user  %>" placeholder="input the instructor">
  <input type="button" name="sSearch" value="Search" class="btn" onclick="Search();">
</div>
<div class="control">
  <input class="btn" type='submit' value='Add' onclick="javascript: location.href='add'">
</div>
<table class="table">
  <tr>
    <th>Class_ID</th>
    <th>Class_Name</th>
    <th>Department</th>
    <th>Class_Number</th>
    <th>Class_Section</th>
    <th>Activate</th>
    <th>Instructor</th>
    <th>Internal_Notes</th>
    <th>Class_Description</th>
    <th>Additional_Info</th>
    <th>Prerequisite</th>
    <th>Start_Week</th>
    <th>End_Week</th>
    <th>Age_Start</th>
    <th>Age_End</th>
    <th>Consummables_Fee</th>
    <th>Hourly_Fee</th>
    <th>Registration_Fee</th>
    <th></th>
  </tr>
  <% for ( var i = 0 ; i < data.length ; i++){ %>
  <tr>
    <td><%=(i+1)%></td>
    <td><%=data[i].Class_ID%></td>
    <td><%=data[i].Class_Name%></td>
    <td><%=data[i].Department%></td>
    <td><%=data[i].Class_Number%></td>
    <td><%=data[i].Class_Section%></td>
    <td><%=data[i].Activate%></td>
    <td><%=data[i].Instructor%></td>
    <td><%=data[i].Internal_Notes%></td>
    <td><%=data[i].Class_Description%></td>
    <td><%=data[i].Additional_Info%></td>
    <td><%=data[i].Prerequisite%></td>
    <td><%=data[i].Start_Week%></td>
    <td><%=data[i].End_Week%></td>
    <td><%=data[i].Age_Start%></td>
    <td><%=data[i].Age_End%></td>
    <td><%=data[i].Consummables_Fee%></td>
    <td><%=data[i].Hourly_Fee%></td>
    <td><%=data[i].Registration_Fee%></td>
    <td>
      <input type="button" name="edit" value="Edit" class="btn" onclick="Edit('<%= data[i].id  %>');" />
      <input type="button" name="delete" value="Delete" class="btn" onclick="Delete('<%= data[i].id  %>');" />
    </td>
  </tr>
  <% } %>
</table>
</body>
g
</html>
