<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title></title>
    <script type="text/javascript">
        function Check() {

            var Class_ID = document.getElementsByName('Class_ID')[0].value;
            var Class_Name = document.getElementsByName('Class_Name')[0].value;
            var Department = document.getElementsByName('Department')[0].value;
            var Class_Number = document.getElementsByName('Class_Number')[0].value;
            var Class_Section = document.getElementsByName('Class_Section')[0].value;
            var Activate = document.getElementsByName('Activate')[0].value;
            var Instructor = document.getElementsByName('Instructor')[0].value;
            var Internal_Notes = document.getElementsByName('Internal_Notes')[0].value;
            var Class_Description = document.getElementsByName('Class_Description')[0].value;
            var Additional_Info = document.getElementsByName('Additional_Info')[0].value;
            var Prerequisite = document.getElementsByName('Prerequisite')[0].value;
            var Start_Week = document.getElementsByName('Start_Week')[0].value;
            var End_Week = document.getElementsByName('End_Week')[0].value;
            var Age_Start = document.getElementsByName('Age_Start')[0].value;
            var Age_End = document.getElementsByName('Age_End')[0].value;
            var Hourly_Fee = document.getElementsByName('Hourly_Fee')[0].value;
            var Registration_Fee = document.getElementsByName('Registration_Fee')[0].value;
            var Price_Included_For_Interns = document.getElementsByName('Price_Included_For_Interns')[0].value;
            var Intern_Only = document.getElementsByName('Intern_Only')[0].value;
            var Field_Trip = document.getElementsByName('Field_Trip')[0].value;
            var Field_Trip_Wish_List = document.getElementsByName('Field_Trip_Wish_List')[0].value;
            var Class = document.getElementsByName('Class')[0].value;
            var Workshop = document.getElementsByName('Workshop')[0].value;
            var GroupBased = document.getElementsByName('GroupBased')[0].value;
            var Seasonal_Classification = document.getElementsByName('Seasonal_Classification')[0].value;
            var No_Weeks = document.getElementsByName('No_Weeks')[0].value;
            var M = document.getElementsByName('M')[0].value;
            var T = document.getElementsByName('T')[0].value;
            var W = document.getElementsByName('W')[0].value;
            var TH = document.getElementsByName('TH')[0].value;
            var F = document.getElementsByName('F')[0].value;
            var Sat = document.getElementsByName('Sat')[0].value;
            var Sun = document.getElementsByName('Sun')[0].value;
            var Hrs_Per_Class = document.getElementsByName('Hrs_Per_Class')[0].value;
            var Mtgs_Per_Wk = document.getElementsByName('Mtgs_Per_Wk')[0].value;
            var Total_Meetings = document.getElementsByName('Total_Meetings')[0].value;
            var Total_Class_Time_Hrs = document.getElementsByName('Total_Class_Time_Hrs')[0].value;
            var Start_Time = document.getElementsByName('Start_Time')[0].value;
            var End_Time = document.getElementsByName('End_Time')[0].value;
            var AREA = document.getElementsByName('AREA')[0].value;
            var IMG_1 = document.getElementsByName('IMG_1')[0].value;
            var IMG_2 = document.getElementsByName('IMG_2')[0].value;
            var IMG_3 = document.getElementsByName('IMG_3')[0].value;
            var EXT_LINK_1 = document.getElementsByName('EXT_LINK_1')[0].value;
            var EXT_LINK_2 = document.getElementsByName('EXT_LINK_2')[0].value;
            var EXT_LINK_3 = document.getElementsByName('EXT_LINK_3')[0].value;
            var UND_1 = document.getElementsByName('UND_1')[0].value;
            var UND_2 = document.getElementsByName('UND_2')[0].value;
            var UND_3 = document.getElementsByName('UND_3')[0].value;
            var UND_4 = document.getElementsByName('UND_4')[0].value;
            var UND_5 = document.getElementsByName('UND_5')[0].value;
            var UND_6 = document.getElementsByName('UND_6')[0].value;
            var UND_7 = document.getElementsByName('UND_7')[0].value;
            var UND_8 = document.getElementsByName('UND_8')[0].value;
            var UND_9 = document.getElementsByName('UND_9')[0].value;
            var UND_10 = document.getElementsByName('UND_10')[0].value;

            // if (Class_ID&&Class_Name&&Department&&Class_Number&&Class_Section&&Activate&&
            //     Instructor&&Internal_Notes&&Class_Description&&Additional_Info&&Prerequisite&&
            //     Start_Week&&End_Week&&Age_Start&&Age_End&&Hourly_Fee&&Registration_Fee){
            //     return true;
            // }
            return true;
            alert('please input the info.');
            return false;

        }
    </script>
</head>

<body>
<form name="editform" action="userEdit" method="post" accept-charset="utf-8" onSubmit="return Check();">
    <h1>Class - Edit</h1>
    <input type="text" name="Instructor" value="<%=data[0].Instructor%>" />
    <div class="row">
        <label>Class_ID：</label>
        <input type="text" name="Class_ID" placeholder="Class_ID" value="<%=data[0].Class_ID%>"   />
    </div>
    <div class="row">
        <label>Class_Name：</label>
        <input type="text" name="Class_Name" placeholder="Class_Name" value="<%=data[0].Class_Name  %>" />
    </div>
    <div class="row">
        <label>Department：</label>
        <input type="text" name="Department" placeholder="Department" value="<%=data[0].Department  %>">
    </div>
    <div class="row">
        <label>Class_Number：</label>
        <input type="text" name="Class_Number" placeholder="Class_Number" value="<%=data[0].Class_Number %>"   />
    </div>
    <div class="row">
        <label>Class_Section：</label>
        <input type="text" name="Class_Section" placeholder="Class_Section" value="<%=data[0].Class_Section  %>" />
    </div>
    <div class="row">
        <label>Activate：</label>
        <input type="text" name="Activate" placeholder="Activate" value="<%=data[0].Activate  %>">
    </div>
    <div class="row">
        <label>Internal_Notes：</label>
        <input type="text" name="Internal_Notes" placeholder="Internal_Notes" value="<%=data[0].Internal_Notes %>"   />
    </div>
    <div class="row">
        <label>Class_Description：</label>
        <input type="text" name="Class_Description" placeholder="Class_Description" value="<%=data[0].Class_Description  %>" />
    </div>
    <div class="row">
        <label>Additional_Info：</label>
        <input type="text" name="Additional_Info" placeholder="Additional_Info" value="<%=data[0].Additional_Info  %>">
    </div>
    <div class="row">
        <label>Prerequisite：</label>
        <input type="text" name="Prerequisite" placeholder="Prerequisite" value="<%=data[0].Prerequisite %>"   />
    </div>
    <div class="row">
        <label>Start_Week：</label>
        <input type="text" name="Start_Week" placeholder="Start_Week" value="<%=data[0].Start_Week  %>" />
    </div>
    <div class="row">
        <label>End_Week：</label>
        <input type="text" name="End_Week" placeholder="End_Week" value="<%=data[0].End_Week  %>">
    </div>
    <div class="row">
        <label>Age_Start：</label>
        <input type="text" name="Age_Start" placeholder="Age_Start" value="<%=data[0].Age_Start %>"   />
    </div>
    <div class="row">
        <label>Age_End：</label>
        <input type="text" name="Age_End" placeholder="Age_End" value="<%=data[0].Age_End  %>" />
    </div>
    <div class="row">
        <label>Hourly_Fee：</label>
        <input type="text" name="Hourly_Fee" placeholder="Hourly_Fee" value="<%=data[0].Hourly_Fee  %>">
    </div>
    <div class="row">
        <label>Registration_Fee：</label>
        <input type="text" name="Registration_Fee" placeholder="Registration_Fee" value="<%=data[0].Registration_Fee  %>">
    </div>
    <div class="row">
        <label>Price_Included_For_Intern：</label>
        <input type="number" name="Price_Included_For_InternsSummerClasses" placeholder="Price_Included_For_InternsSummerClasses" value="<%=data[0].Price_Included_For_Interns%>"   />
    </div>
    <div class="row">
        <label>Intern_Only：</label>
        <input type="text" name="Intern_Only" placeholder="Intern_Only" value="<%=data[0].Intern_Only  %>" />
    </div>
    <div class="row">
        <label>Field_Trip：</label>
        <input type="text" name="Field_Trip" placeholder="Field_Trip" value="<%=data[0].Field_Trip  %>">
    </div>
    <div class="row">
        <label>Field_Trip_Wish_List：</label>
        <input type="text" name="Field_Trip_Wish_List" placeholder="Field_Trip_Wish_List" value="<%=data[0].Field_Trip_Wish_List %>"   />
    </div>
    <div class="row">
        <label>Class：</label>
        <input type="number" name="Class" placeholder="Class" value="<%=data[0].Class  %>" />
    </div>
    <div class="row">
        <label>Workshop：</label>
        <input type="text" name="Workshop" placeholder="Workshop" value="<%=data[0].Workshop  %>">
    </div>
    <div class="row">
        <label>GroupBased：</label>
        <input type="number" name="GroupBased" placeholder="GroupBased" value="<%=data[0].GroupBased %>"   />
    </div>
    <div class="row">
        <label>Seasonal_Classification：</label>
        <input type="text" name="Seasonal_Classification" placeholder="Seasonal_Classification" value="<%=data[0].Seasonal_Classification  %>" />
    </div>
    <div class="row">
        <label>No_Weeks：</label>
        <input type="text" name="No_Weeks" placeholder="No_Weeks" value="<%=data[0].No_Weeks  %>">
    </div>
    <div class="row">
        <label>M：</label>
        <input type="number" name="M" placeholder="M" value="<%=data[0].M %>"   />
    </div>
    <div class="row">
        <label>T：</label>
        <input type="number" name="T" placeholder="T" value="<%=data[0].T  %>" />
    </div>
    <div class="row">
        <label>W：</label>
        <input type="number" name="W" placeholder="W" value="<%=data[0].W  %>">
    </div>
    <div class="row">
        <label>TH：</label>
        <input type="number" name="TH" placeholder="TH" value="<%=data[0].TH %>"   />
    </div>
    <div class="row">
        <label>F：</label>
        <input type="number" name="F" placeholder="F" value="<%=data[0].F  %>" />
    </div>
    <div class="row">
        <label>Sat：</label>
        <input type="text" name="Sat" placeholder="Sat" value="<%=data[0].Sat  %>">
    </div>
    <div class="row">
        <label>Sun：</label>
        <input type="text" name="Sun" placeholder="Sun" value="<%=data[0].Sun  %>">
    </div>
    <div class="row">
        <label>Hrs_Per_Class：</label>
        <input type="text" name="Hrs_Per_Class" placeholder="Hrs_Per_Class" value="<%=data[0].Hrs_Per_Class%>"   />
    </div>
    <div class="row">
        <label>Mtgs_Per_Wk：</label>
        <input type="text" name="Mtgs_Per_Wk" placeholder="Mtgs_Per_Wk" value="<%=data[0].Mtgs_Per_Wk  %>" />
    </div>
    <div class="row">
        <label>Total_Meetings：</label>
        <input type="text" name="Total_Meetings" placeholder="Total_Meetings" value="<%=data[0].Total_Meetings  %>">
    </div>
    <div class="row">
        <label>Total_Class_Time_Hrs：</label>
        <input type="text" name="Total_Class_Time_Hrs" placeholder="Total_Class_Time_Hrs" value="<%=data[0].Total_Class_Time_Hrs %>"   />
    </div>
    <div class="row">
        <label>Start_Time：</label>
        <input type="text" name="Start_Time" placeholder="Start_Time" value="<%=data[0].Start_Time  %>" />
    </div>
    <div class="row">
        <label>End_Time：</label>
        <input type="text" name="End_Time" placeholder="End_Time" value="<%=data[0].End_Time  %>">
    </div>
    <div class="row">
        <label>AREA：</label>
        <input type="text" name="AREA" placeholder="AREA" value="<%=data[0].AREA %>"   />
    </div>
    <div class="row">
        <label>IMG_1：</label>
        <input type="text" name="IMG_1" placeholder="IMG_1" value="<%=data[0].IMG_1  %>" />
    </div>
    <div class="row">
        <label>IMG_2：</label>
        <input type="text" name="IMG_2" placeholder="IMG_2" value="<%=data[0].IMG_2  %>">
    </div>
    <div class="row">
        <label>IMG_3：</label>
        <input type="text" name="IMG_3" placeholder="IMG_3" value="<%=data[0].IMG_3 %>"   />
    </div>
    <div class="row">
        <label>EXT_LINK_1：</label>
        <input type="text" name="EXT_LINK_1" placeholder="EXT_LINK_1" value="<%=data[0].EXT_LINK_1  %>" />
    </div>
    <div class="row">
        <label>EXT_LINK_2：</label>
        <input type="text" name="EXT_LINK_2" placeholder="EXT_LINK_2" value="<%=data[0].EXT_LINK_2  %>">
    </div>
    <div class="row">
        <label>EXT_LINK_3：</label>
        <input type="text" name="EXT_LINK_3" placeholder="EXT_LINK_3" value="<%=data[0].EXT_LINK_3 %>"   />
    </div>
    <div class="row">
        <label>UND_1：</label>
        <input type="text" name="UND_1" placeholder="UND_1" value="<%=data[0].UND_1  %>" />
    </div>
    <div class="row">
        <label>UND_2：</label>
        <input type="text" name="UND_2" placeholder="UND_2" value="<%=data[0].UND_2  %>">
    </div>
    <div class="row">
        <label>UND_3：</label>
        <input type="text" name="UND_3" placeholder="UND_3" value="<%=data[0].UND_3  %>">
    </div>
    <div class="row">
        <label>UND_4：</label>
        <input type="text" name="UND_4" placeholder="UND_4" value="<%=data[0].UND_4  %>" />
    </div>
    <div class="row">
        <label>UND_5：</label>
        <input type="text" name="UND_5" placeholder="UND_5" value="<%=data[0].UND_5  %>">
    </div>
    <div class="row">
        <label>UND_6：</label>
        <input type="text" name="UND_6" placeholder="UND_6" value="<%=data[0].UND_6  %>">
    </div>
    <div class="row">
        <label>UND_7：</label>
        <input type="text" name="UND_7" placeholder="UND_7" value="<%=data[0].UND_7  %>" />
    </div>
    <div class="row">
        <label>UND_8：</label>
        <input type="text" name="UND_8" placeholder="UND_8" value="<%=data[0].UND_8  %>">
    </div>
    <div class="row">
        <label>UND_9：</label>
        <input type="text" name="UND_9" placeholder="UND_9" value="<%=data[0].UND_9  %>">
    </div>
    <div class="row">
        <label>UND_10：</label>
        <input type="text" name="UND_10" placeholder="UND_10" value="<%=data[0].UND_10  %>">
    </div>
    <div class="row">
        <input class="btn" type='submit' value='Submit'>
        <input class="btn" type='reset' value='Reset'>
        <input class="btn" type='button' value='Back' onclick="javascript: window.history.back();">
    </div>
</form>
</body>

</html>
